# Dart / Flutter
.dart_tool/
.packages
pubspec.lock
build/
$null
nul
dart

# IDE
.vscode/
.idea/
.qwen
*.iml

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/

# Database backups (except migrations)
*.sql
!db/migrations/*.sql
backup/
apps/flutter_app/linux
apps/flutter_app/windows
apps/flutter_app/macos

# Generated plugin registrants
**/generated_plugin_registrant.cc
**/generated_plugin_registrant.h
**/generated_plugins.cmake
**/GeneratedPluginRegistrant.swift