# Dart / Flutter
.dart_tool/
.packages
pubspec.lock
build/
$null

# IDE
.vscode/
.idea/
.qwen
*.iml

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/

# Database backups (except migrations)
*.sql
!db/migrations/*.sql
backup/